html {
  min-height: 100%;
  font-size: 10px;
}
body {
  line-height: 1.4;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  position: relative;
  background: #ECE4CF;
  text-align: center;
  margin: 0 auto;
}
h1 {
  font-size: 35px;
}
a {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}
p {
  font-size: 18px;
  line-height: 1.4;
  color: #222;
}
#page {
  text-align: left;
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px 44px 15px;
  background: #FFFFFF;
  overflow: hidden;
}
#page2 {
  display: block;
}
#my-photo {
  text-align: center;
  padding-top: 20px;
}
#my-photo:hover {
  transform: scale(1.1);
  transition-duration: 1.5s;
}
#my-phto-s {
  border: 2px black solid;
  border-radius: 50%;
  height: 351px;
  width: 374px;
}
.about-my-life-center {
  position: relative;
  text-align: center;
  background: #fff;
  padding: 0;
  margin: 40px 0;
}
.about-my-life-center:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  left: 0;
  top: 50%;
}
.about-my-life-center h2 {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: #404040;
  background: #fff;
  font-weight: 400;
  padding: 0 35px;
  margin: 20px 0;
}
#social-networks {
  color: orange;
  height: auto;
  width: auto;
  text-decoration: none;
  margin: 0;
}
#social-networks:hover {
  color: blue;
}
.menu_container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
#my_pictures {
  padding: 50px;
  font-family: Anton;
  color: orange;
  width: auto;
  height: auto;
  text-decoration: none;
}
#my_pictures:hover {
  color: blue;
  animation-delay: 3s;
  width: auto;
  height: auto;
  text-decoration: underline;
}
.about {
  padding: 50px;
  font-family: Anton;
  color: orange;
  width: auto;
  height: auto;
  text-decoration: none;
}
.about:hover {
  color: blue;
  animation-delay: 3s;
  width: auto;
  height: auto;
}
#my_works {
  padding: 50px;
  font-family: Anton;
  color: orange;
  width: auto;
  height: auto;
  text-decoration: none;
}
#my_works:hover {
  color: blue;
  animation-delay: 3s;
  width: auto;
  height: auto;
  text-decoration: underline;
}
.slick {
  display: flex;
  width: 50%;
  justify-content: center;
  padding-top: 50px;
}
.about_me_container {
  background: #f6d654 url(img/siriguy_background.jpeg);
  height: auto;
  width: auto;
}
.site_container {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.okomedicas {
  padding: 30px;
}
.okomedicas:hover {
  transform: scale(1.1);
  transition-duration: 1.5s;
}
.flin {
  padding: 30px;
  padding-top: 50px;
}
.flin:hover {
  transform: scale(1.1);
  transition-duration: 1.5s;
}
.study {
  padding: 20px;
  background-color: lightblue;
  border-radius: 25%;
  border: 1px solid transparent;
}
.study:hover {
  border: 1px solid orange;
}
.study-text {
  font-size: 25px;
  font-family: 'Comfortaa', cursive;
  padding: 0;
  margin: 10px;
}
.study-text a {
  text-decoration: none;
}
.study-text a:hover {
  text-decoration: underline;
}
#my_all_photo {
  background: url("img/my_photo.jpg");
  height: 390px;
  width: auto;
  text-align: center;
}
.dropbox {
  padding: 50px;
  border-radius: 50%;
  height: 200px;
  width: 265px;
}
.dropbox:hover {
  transform: scale(1.1);
  transition-duration: 1.5s;
}
#mini_tools {
  text-align: center;
  margin: 0 auto;
  max-width: 95%;
  padding: 30px 30px 6px 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
input[type="text"] {
  color: #fff;
}
input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
input {
  font-size: 18px;
  text-align: center;
  height: 50px;
  width: 225px;
}
input.old {
  border-radius: 20%;
  background: #f08080;
}
input.new {
  border-radius: 20%;
  background: #f08080;
}
.btn {
  height: 25px;
  width: 100px;
  text-align: center;
  font-size: 15px;
  border-radius: 20%;
  background: lawngreen;
}
.footer {
  min-height: 150px;
  width: 100%;
  background: #222;
  padding-top: 124px;
}
.footer .footer-text {
  height: 150px;
  width: 100%;
  color: #fff;
  font-size: 17px;
}
