body {
  background: #ECE4CF;
  text-align: center;
  margin: 0px auto;
  padding: 0px;
}


#page {
  text-align: left;
  width: 1024px;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background: #FFFFFF;
  overflow: hidden;
  padding-bottom: 44px;
}

#page2 {
  display: block;
}

#my-photo {
  text-align: center;
  padding-top: 20px;

  &:hover {
    transform: scale(1.1);
    transition-duration: 1.5s;
  }
}
#my-phto-s {
  border: 2px black solid;
  border-radius: 50%;
  height: 351px;
  width: 374px;
}

.about-my-life-center {
  span {
    background: #fff;
    padding: 0 10px;
  }
  h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
}

/*.helloworld {*/
/*display: flex;*/
/*flex-direction: column;*/
/*text-align: center;*/
/*font-family: 'Anton', sans-serif;*/
/*color: white;*/
/*font-size: 50px;*/
/*margin: 0;*/
/*padding-top: 50px;*/
/*}*/
#social-networks {
  color: orange;
  height: auto;
  width: auto;
  text-decoration: none;
  margin: 0;

  &:hover {
    color: blue;
  }
}
.menu_container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
#my_pictures {
  padding: 50px;
  font-family: Anton;
  color: orange;
  text-decoration: orange;
  width: auto;
  height: auto;

  &:hover {
    color: blue;
    animation-delay: 3s;
    width: auto;
    height: auto;
    transform: scale(0.7);

  }
}
.about {
  padding: 50px;
  font-family: Anton;
  color: orange;
  text-decoration: orange;
  width: auto;
  height: auto;

  &:hover {
    color: blue;
    animation-delay: 3s;
    width: auto;
    height: auto;
  }

}

#my_works {
  padding: 50px;
  font-family: Anton;
  color: orange;
  text-decoration: orange;
  width: auto;
  height: auto;

  &:hover {
    color: blue;
    animation-delay: 3s;
    width: auto;
    height: auto;
  }
}

.slick {
  display: flex;
  width: 50%;
  justify-content: center;
  padding-top: 50px;
}

.about_me_container {
  background: #f6d654 url(img/siriguy_background.jpeg);
  height: auto;
  width: auto;
}


.site_container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.okomedicas {
  padding: 30px;

  &:hover {
    transform: scale(1.1);
    transition-duration: 1.5s;
  }
}

.flin {
  padding: 30px;

  &:hover {
    transform: scale(1.1);
    transition-duration: 1.5s;
  }
}


.study {
  padding: 20px;
  background-color: lightblue;
  border-radius: 25%;

  &:hover {
    border: 1px orange solid;
  }
}

.study-text {
  font-size: 25px;
  font-family: 'Comfortaa', cursive;
  padding: 0;
  margin: 10px;
}

#my_all_photo {
  background: url("img/my_photo.jpg");
  height: 390px;
  width: auto;
  text-align: center;
}

.dropbox {
  padding: 50px;
  border-radius: 50%;
  height: 200px;
  width: 265px;

  &:hover {
    transform: scale(1.1);
    transition-duration: 1.5s;
  }
}


#mini_tools {
  text-align: center;
  margin: 0 auto;
  max-width: 95%;
  padding: 30px 30px 6px 30px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.old {
  height: 50px;
  width: 200px;
  text-align: center;
  font-size: 25px;
  border-radius: 20%;
  background: #f08080;
}

.new {
  height: 50px;
  width: 200px;
  text-align: center;
  font-size: 25px;
  border-radius: 20%;
  background: #f08080;
}

.btn {
  height: 25px;
  width: 100px;
  text-align: center;
  font-size: 15px;
  border-radius: 20%;
  background: lawngreen;
}
/*# sourceMappingURL=style.css.map */